.featurelist {
  background-color: var(--ftrs-bgc, var(--c-sup2));
  border-top: 2px solid var(--c-accent);
  padding-block: 1rem;
  padding-inline: 1rem;  
  align-content: start;
  width: 100%;
}

.feature {
  display: flex;
  gap: .75rem;
  padding-block: .75rem;
  font-size: .75rem;

  & + .feature {
    border-top: 1px solid var(--c-sup1);
  }

  &::before {
    content: '—';
    flex-shrink: 0;
  }
}